/node_modules
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd
/.idea
application/config/config.php
application/config/database.php
application/logs/*.php
.well-known
well-known
cgi-bin
run.txt